.device-grid {
  @apply max-w-6xl mx-auto p-8 grid grid-cols-4 gap-6 text-center;
}

/* segments */

.grid-segment {
  @apply border-gray-800 border-b;
}

.grid-segment:last-child {
  @apply border-none;
}

/* buttons */

.device-grid .btn {
  @apply bg-gray-600 text-gray-900 border-black rounded-md;
}

.device-grid .btn:hover,
.device-grid .btn:focus {
  @apply bg-yellow-400 text-gray-800 shadow-outline outline-none;
}

/* message type coloring (button block grid) */

.device-grid .btn-msg-note,
.device-grid .btn-msg-note:hover,
.device-grid .btn-msg-note:focus {
  @apply bg-purple-400 border-purple-600 text-gray-900 shadow-outline outline-none;
}

.device-grid .btn-msg-cc,
.device-grid .btn-msg-cc:hover,
.device-grid .btn-msg-cc:focus {
  @apply bg-teal-400 border-teal-600 text-gray-900 shadow-outline outline-none;
}

.device-grid .btn-msg-pc,
.device-grid .btn-msg-pc:hover,
.device-grid .btn-msg-pc:focus {
  @apply bg-orange-400 border-orange-600 text-gray-900 shadow-outline outline-none;
}

.device-grid .btn-msg-preset,
.device-grid .btn-msg-preset:hover,
.device-grid .btn-msg-preset:focus {
  @apply bg-pink-400 border-pink-600 text-gray-900 shadow-outline outline-none;
}

.device-grid .btn-msg-none,
.device-grid .btn-msg-none:hover,
.device-grid .btn-msg-none:focus {
  @apply bg-gray-700 border-gray-900 text-gray-200 shadow-outline outline-none;
}

/* sax fingering key buttons */

.device-grid .btn-sax,
.device-grid .btn-sax:hover,
.device-grid .btn-sax:focus {
  @apply bg-blue-400 border-blue-600 text-gray-900 shadow-outline outline-none;
}

/* highlighted buttons */

.device-grid .btn-highlight,
.device-grid .btn-highlight:hover,
.device-grid .btn-highlight:focus {
  @apply bg-green-400 border-green-600 shadow-outline;
}

/* responsive */

@screen md {
  .device-grid {
    @apply grid-cols-5;
  }
}
@screen lg {
  .device-grid {
    @apply grid-cols-8;
  }
}
@screen xl {
  .device-grid {
    @apply grid-cols-10;
  }
}
